Repository ReactiveX/RxJava, pull requests merged in 2021-05, with the labels that each got.

#7253 3.x: Remove fixPom method from build.gradle
  build.gradle
Labels: 3.x, Build

#7255 3.x: Update Gradle task dependencies to remove dependsOn 'build' task
  .github/workflows/gradle_branch.yml
  .github/workflows/gradle_jdk11.yml
  .github/workflows/gradle_pr.yml
  .github/workflows/gradle_release.yml
  .github/workflows/gradle_snapshot.yml
  build.gradle
  gradle/javadoc_cleanup.gradle
Labels: 3.x, Build

#7257 3.x: Remove redundant addition of JMH to classpath
  build.gradle
Labels: 3.x, Build

#7258 3.x: Remove Javadoc not failing on error
  build.gradle
Labels: 3.x, Build, Documentation

#7259 3.x: Gradle wrapper 7 0
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: 3.x, Build

#7260 3.x: Move Gradle properties into gradle.properties file
  build.gradle
  gradle.properties
Labels: 3.x, Build

#7261 3.x: Remove toolVersion for jacoco and checkstyle
  build.gradle
Labels: 3.x, Build

#7262 3.x: Rename workflow tasks
  .github/workflows/gradle_branch.yml
  .github/workflows/gradle_jdk11.yml
  .github/workflows/gradle_pr.yml
  .github/workflows/gradle_release.yml
  .github/workflows/gradle_snapshot.yml
Labels: 3.x, Build

#7264 3.x: Updated javadocCleanup to use logger and remove semi-colons
  gradle/javadoc_cleanup.gradle
Labels: 3.x, Build, Cleanup, Documentation

#7263 3.x: Consolidate test logging
  build.gradle
Labels: 3.x, Build

#7272 3.x: Fix copy-paste error in Completable javadoc
  src/main/java/io/reactivex/rxjava3/core/Completable.java
Labels: 3.x, Documentation

#7274 3.x: Javadoc: Fix wording of *OnSubscribe interfaces
  src/main/java/io/reactivex/rxjava3/core/CompletableOnSubscribe.java
  src/main/java/io/reactivex/rxjava3/core/FlowableOnSubscribe.java
  src/main/java/io/reactivex/rxjava3/core/MaybeOnSubscribe.java
  src/main/java/io/reactivex/rxjava3/core/ObservableOnSubscribe.java
  src/main/java/io/reactivex/rxjava3/core/SingleOnSubscribe.java
Labels: 3.x, Cleanup, Documentation

#7277 3.x: fix typo in ObservableRetryTest.java
  src/test/java/io/reactivex/rxjava3/internal/operators/observable/ObservableRetryTest.java
Labels: Cleanup, Test
