Repository ReactiveX/RxJava, pull requests merged in 2021-09, with the labels that each got.

#7334 3.x: Add step to JDK 11 build to verify generated module-info
  .github/workflows/gradle_jdk11.yml
Labels: Build, 3.x

#7241 3x: Add full module descriptor
  build.gradle
  src/main/module/module-info.java
Labels: Enhancement, Build, 3.x

#7336 3.x: Add missing exports packages, fix param overrides
  build.gradle
  src/main/module/module-info.java
Labels: Build, 3.x

#7341 3.x: Javadocs: indicate takeUntil stops on completion of other
  src/main/java/io/reactivex/rxjava3/core/Flowable.java
  src/main/java/io/reactivex/rxjava3/core/Observable.java
  src/main/java/io/reactivex/rxjava3/operators/QueueDisposable.java
  src/main/java/io/reactivex/rxjava3/operators/QueueSubscription.java
Labels: Documentation, Cleanup, 3.x

#7345 Update assert messages format to be compliant with JUnitTestRunner and GradleTestRunner
  src/main/java/io/reactivex/rxjava3/observers/BaseTestConsumer.java
  src/test/java/io/reactivex/rxjava3/observers/TestObserverTest.java
  src/test/java/io/reactivex/rxjava3/testsupport/BaseTestConsumerEx.java
  src/test/java/io/reactivex/rxjava3/testsupport/TestObserverEx.java
  src/test/java/io/reactivex/rxjava3/testsupport/TestObserverExTest.java
Labels: Test, 3.x
